<section class="slice-slideshow" data-slice="sliceImageSlideshow">
  <div class="slice-slideshow__viewport" role="button" tabindex="0" aria-label="Next image">
    {{#images}}
    <div class="slice-slideshow__slide{{#isFirst}} is-active{{/isFirst}}">
      {{> picture}}
    </div>
    {{/images}}
  </div>
  <p class="slice-slideshow__caption">
    <span class="slice-slideshow__counter"><span class="slice-slideshow__counter-current">1</span> / <span class="slice-slideshow__counter-total">{{total}}</span></span>{{#hasCaption}}<span class="slice-slideshow__caption-text">{{caption}}</span>{{/hasCaption}}
  </p>
</section>
