$target-window-width-mobile: 375;
$target-window-width-tablet: 768;
$target-window-width-laptop: 1440;
$target-window-width-desktop: 1920;

// Scale modifiers per breakpoint
$scale-modifier-mobile: 0.2;
$scale-modifier-tablet: 0.2;
$scale-modifier-laptop: 0.5;
$scale-modifier-desktop: 0.6;
