<section class="dev-grid">
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
  <div class="dev-col"></div>
</section>
